window {
  background-color: rgba(173, 216, 230, 0.4); /* Light blue, semi-transparent */
  border-radius: 20px;
  color: white;
}

search-bar {
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

entry {
  background-color: transparent;
  color: white;
  caret-color: white;
}

flowboxchild {
  padding: 10px;
  border-radius: 10px;
  transition: background-color 200ms;
}

flowboxchild:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

label {
  margin-top: 5px;
  font-size: 14px;
}
